* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: sans-serif;
}

.seccion {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 5rem;
    margin-left: 5rem;
}
